.footer{
    background-color: #39777c;
    position: relative;
    width: 100%;
    padding: 25px;
    bottom:0;
    height: 300px;
  }

  .footer-details {
    font-size: 12px;
    text-align: justify;
  }

  @media screen and (min-width:300px) and (max-width:599px){
    .footer{
     height:400px;
    }
  }