<div class="row story-background">
  <div class=" col-sm-12 story-title">
    <span>{{storyTitle}}</span>
  </div>
  <p class="story-text" *ngIf="storyDesc !== ''">{{storyDesc}}</p>
  <div *ngFor="let story of storyDetails">
    <div *ngIf="story.text !== blank" class="story-text">
      <p>{{story.text}}</p>
    </div>
    <div *ngIf="story.image !== blank">
      <img src="assets/BlogImages/{{storyName}}/{{story.image}}.JPG" alt="{{story.image}}" class="story-image">
    </div>
  </div>
 </div>