<div class="row story-background">
  <div class=" col-sm-12 story-title">
    <h5>5 Young Adult Novels To Be Read</h5>
  </div>
  <div class="backLink">
    <span>
      <a href="/home" style="text-decoration:none">Home</a> /
      <a href="/books" style="text-decoration:none">Books</a> / 5 Young Adult Novels To Be Read</span>
  </div>
  <div class="story-body">
    <p>
      <b>Young adult fiction (YA)</b> is a transition of fiction from rosy fairy tales to real life fairy tales! Though the
      target audience is primarily teenagers, adults love YA genre too. The tales usually bridge the gap with more experienced
      protagonist in almost real life situations. YA genre hints at the camaraderie, romance and self- identification. Learning
      to embrace one’s true self and values, this genre has lately seen lot of Bestseller series round the world.</p>
    <h4>
      <b>1. The Hunger Games</b>
    </h4>
    <br>
    <img src="assets/BlogImages/young_adult/hunger_games.JPG" alt="young_adult" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/dp/201410140X/ref=pd_lpo_sbs_dp_ss_1?pf_rd_p=cd818f9c-142a-4b42-ad2c-f0421857aaf5&pf_rd_s=lpo-top-stripe&pf_rd_t=201&pf_rd_i=0439023483&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_r=DS000YPHQF59H6RCD6RK&pf_rd_r=DS000YPHQF59H6RCD6RK&pf_rd_p=cd818f9c-142a-4b42-ad2c-f0421857aaf5">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>Penned by Suzanne Collins, the story is set in a universe called Panem. An annual death match is organised with children
      participating from every district to fight for food. Translated into around 51 languages, this series is still one
      of the bestselling boxset in Amazon. Also, it is one of the highest grossing film franchise, featuring Jennifer Lawrence
      as Katniss Everdeen.
    </p>
    <br>
    <h4>
      <b>2. The Fault in Our Stars </b>
    </h4>
    <br>
    <img src="assets/BlogImages/young_adult/fault_star.JPG" alt="young_adult" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Fault-Our-Stars-Movie-Tie/dp/0141355077/ref=sr_1_1?s=books&ie=UTF8&qid=1531461656&sr=1-1&keywords=The+Fault+in+Our+Stars">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>A book which made us cry. Two teenagers Hazel Grace and Augustus Waters fall in love while fighting against cancer, the
      story explores the tender feelings of love and trust. Augustus fulfils Hazel’s wish to meet Peter Van Houten, author
      of her favourite book - An Imperial Affliction. They bond over their travel to Amsterdam and is met with harsh reaction
      of the author. Soon afterwards, Augustus succumbs to his cancer. Peter visits Hazel and informs her that Augustus was
      writing a sequel to the book to satiate the unanswered conclusion of the book An Imperial Affliction. Finally Hazel
      comes to peace with her choice and her love for Augustus. This book was into a feature film which proved to be commercially
      successful.
    </p>
    <br>
    <h4>
      <b>3. The Perks of Being a Wallflower </b>
    </h4>
    <br>
    <img src="assets/BlogImages/young_adult/wallflower.JPG" alt="young_adult" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Perks-Being-Wallflower-Stephen-Chbosky/dp/1451696191/ref=sr_1_1?s=books&ie=UTF8&qid=1531461709&sr=1-1&keywords=The+Perks+of+Being+a+Wallflower">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>A novel which revolves around Charlie and his observation through a series of letters. We see through his eyes as he
      oscillates between his adolescence and adulthood. He endeavors to deal with emotional turmoil spurred by people around
      him. Stephen Chbosky shaped his characters from his own memories of high school. Another bestseller on Amazon, yet
      again, this book has been turned into major running motion picture
    </p>
    <br>
    <h4>
      <b>4. Throne of Glass </b>
    </h4>
    <br>
    <img src="assets/BlogImages/young_adult/throne_glass.JPG" alt="young_adult" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Throne-Glass-Sarah-J-Maas/dp/1619630346/ref=sr_1_2?s=books&ie=UTF8&qid=1531461744&sr=1-2&keywords=Throne+of+Glass">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>The novel series by Sarah J Mass has appeared on the New York Times Best Seller list. The story chronicles the the journey
      of Celaena Sardothien, a teenage assassin in a corrupted kingdom with a tyrannical ruler. As the tale progresses, Celaena
      forms unexpected bonds and uncovers a conspiracy amidst her adventures.
    </p>
    <br>
    <h4>
      <b>5. The Maze Runner </b>
    </h4>
    <br>
    <img src="assets/BlogImages/young_adult/mazerunner.JPG" alt="young_adult" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Maze-Runner-Set-Books/dp/2015080600/ref=sr_1_3?s=books&ie=UTF8&qid=1531461777&sr=1-3&keywords=The+Maze+Runner">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>A series comprising of three books, the Maze Runner is story of how earth is devastated by massive solar flares. Few
      teenagers are transported to place called GLADE, where they are surrounded by frequently changing pattern maze. Thomas,
      a newbie to the Glade starts changes in the daily life of the Gladers as they look for escape from the maze and realize
      the ultimate trap of Wicked. This series by James Dashner has also been adapted into feature film released in 2014.
    </p>
  </div>
  <div class="backLink-bottom">
    <span> Back To: &nbsp;
      <a href="/home" style="text-decoration:none">Home</a> /
      <a href="/books" style="text-decoration:none">See more in Books Section</a>
    </span>
  </div>
</div>