<div class="row story-background">
    <div class=" col-sm-12 story-title">
      <h5>Life in College</h5>
    </div>
    <div class="backLink">
      <span>
        <a href="/home" style="text-decoration:none">Home</a> /
        <a href="/lifestyle" style="text-decoration:none">Books</a> / Life in College</span>
    </div>
    <div class="story-body">
      <p>Recently my cousin little sister has started college. While chatting with her, I started missing my college days! As
        a tribute, I have roped in some those emotions which we experience in college.</p>
      <h4>
        <b>1. Freedom</b>
      </h4>
      <br>
      <img src="assets/BlogImages/college/freedom.jpg" alt="booksToBuy" class="story-image">
      <p>Probably the last phase when waking up at 12 did not meet raised eye brows or screaming voices from parents. Questions
        like 'Are you free?' did not hold meaning then, as college life qualifies for 24 hours dotted with self-imposed lazy
        breaks. Now we wake up daily to the irritating alarm clock and miss the college days.
      </p>
      <br>
      <h4>
        <b>2. Maggi and Cutting chai</b>
      </h4>
      <br>
      <img src="assets/BlogImages/college/maggi.jpg" alt="booksToBuy" class="story-image">
      <p>Life saver in hostel. This packet of happiness for hungry souls went easy on pocket. A small heater and voila! You can
        be masterchef of your room!
      </p>
      <br>
      <h4>
        <b>3. Pass/Supply ? </b>
      </h4>
      <br>
      <img src="assets/BlogImages/college/pass.jpg" alt="booksToBuy" class="story-image">
      <p>“How much did you score?” changes to simple question like “Pass/Supply?”. College was all about clearing the semester
        exams every year by hook or crook followed by night – long celebrations. Yet to start on rat race, most of us, care
        less about the score and more on personal growth.
      </p>
      <h4>
        <b>4. Bunking classes</b>
      </h4>
      <br>
      <img src="assets/BlogImages/college/bunk.jpg" alt="booksToBuy" class="story-image">
      <p>Ceremonial procedure for every student – Bunking. One who has never bunked a class or two in college cannot say they
        have ‘lived’ their lives. Be it to catch the first show of a movie or watching match in college canteen, or better
        still just to catch up on college gossips. All because we did not ‘feel like coming to class’.</p>
      <p>PS : I have bunked classes just to snug in bed.</p>
      <h4>
        <b>5. College Fests</b>
      </h4>
      <br>
      <img src="assets/BlogImages/college/fest.jpg" alt="booksToBuy" class="story-image">
      <p>Everyone’s favourite and I am sure we have attended those extra-curricular activities meetings more than classes. The
        college fests were the most awaited event throughout the year. A gala show of pomp and grandeur, the college fest have
        bands, DJ, In-house competitions. The month long races came to an end with college fest.
      </p>
      <h4>
        <b>6. Study or not to study?</b>
      </h4>
      <br>
      <img src="assets/BlogImages/college/study.jpg" alt="booksToBuy" class="story-image">
      <p>Corridor, Canteen, Library, Staircase, Dhaba – No place is imperfect </p>
  
      <br>
      <p>Hope this list made you visit your college memories. If this brought a smile to your face, please share your experience
        with me. Also, let me know if there are more to the list!</p>
      <p>Take care till we meet again!</p>
    </div>
    <div class="backLink-bottom">
      <span> Back To: &nbsp;
        <a href="/home" style="text-decoration:none">Home</a> /
        <a href="/lifestyle" style="text-decoration:none">See more in Lifestyle Section</a>
      </span>
    </div>
    <br>
  </div>