<div class="row story-background">
  <div class=" col-sm-12 story-title">
    <h5>5 Books I’d Buy Right Away If I Had A Fully Loaded Gift Card</h5>
  </div>
  <div class="backLink">
    <span>
      <a href="/home" style="text-decoration:none">Home</a> /
      <a href="/books" style="text-decoration:none">Books</a> / 5 Books I’d Buy Right Away If I Had A Fully Loaded Gift Card</span>
  </div>
  <div class="story-body">
    <p>My book wish list is never empty. Ever since I had started earning, one thing has been constant – to purchase books every
      month. Someday I wish to own a library of my own, but for now, my tiny bookshelf fills me with equal ecstasy. If I
      had a fully loaded gift card, probably I would have splurged on the below books!</p>
    <h4>
      <b>The Tintin Collection: The Adventure of Tintin (The Adventures of Tintin - Compact Editions)</b>
    </h4>
    <br>
    <img src="assets/BlogImages/booksToBuy/tintin.JPG" alt="booksToBuy" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/dp/1405278455/ref=pd_lpo_sbs_dp_ss_2/261-4240858-1928302?pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=lpo-top-stripe&pf_rd_r=45WFEGQ1VRT1TT99NFW7&pf_rd_r=45WFEGQ1VRT1TT99NFW7&pf_rd_t=201&pf_rd_p=cd818f9c-142a-4b42-ad2c-f0421857aaf5&pf_rd_p=cd818f9c-142a-4b42-ad2c-f0421857aaf5&pf_rd_i=0316359408">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>Adventures of Tintin is equally loved from eight to eighty year olds. The boy journalist accompanied with his fluffy
      dog Snowy, sets out on thrilling adventures. Created by Belgian cartoonist George Remi (Herge), the adventures are
      based on political turmoil in smaller countries, rituals and scientific discoveries. Much later, Tintin is joined by
      Captain Haddock, a hard drinking, cynical Captain with whom he discovers Captain’s family treasure. Other characters
      include the twins Thompson and Thomson, Professor Calculus and Bianca Castafiore.
    </p>
    <br>
    <h4>
      <b>The Red-haired Woman</b>
    </h4>
    <br>
    <img src="assets/BlogImages/booksToBuy/red_haired_women.JPG" alt="booksToBuy" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Red-haired-Woman-Orhan-Pamuk/dp/0670089265/ref=sr_1_1/261-2873268-6626738?s=books&ie=UTF8&qid=1531380091&sr=1-1&keywords=the+red+haired+woman+by+orhan+pamuk">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>Orphan Pamuk’s masterpiece The Red-haired Woman commences the story in Istanbul. A master well-digger and his young apprentice
      struggle in the summer heat to finish a project. However the apprentice is distracted by the Red haired woman, an alluring
      and enchanting lady from travelling Theatre Company. Misfortune befalls him and he is forced to run away. The tale
      is a twist in love and traditions.
    </p>
    <br>
    <h4>
      <b>An Era of Darkness: The British Empire in India</b>
    </h4>
    <br>
    <img src="assets/BlogImages/booksToBuy/era_of_darkness.JPG" alt="booksToBuy" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Era-Darkness-British-Empire-India/dp/938306465X/ref=sr_1_1?s=books&ie=UTF8&qid=1531380172&sr=1-1&keywords=an+era+of+darkness+the+british+empire+in+india">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>In this book, author Shashi Tharoor reveals with unsullied research, how British rule in India was catastrophic. The
      meticulous mistreatment of Indians, the demolition of the Indian textile and steel-making industries and the negative
      transformation of agriculture are among few of the collateral damage done during the British raj. He ravages the Western
      arguments, with his trademark humor, on the apparent benefits of British rule. Even English language, tea or cricket
      which are hailed as the English boons, were never actually intended for the advantage of the Indians but were introduced
      to serve the interests of the colonists. Exceptionally debated, An Era of Darkness corrects several eccentricities
      about one of the most disputed periods of Indian history.
    </p>
    <br>
    <h4>
      <b>Man's Search for Meaning</b>
    </h4>
    <br>
    <img src="assets/BlogImages/booksToBuy/mans_search.JPG" alt="booksToBuy" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Mans-Search-Meaning-Viktor-Frankl/dp/1846041244/ref=sr_1_1?s=books&ie=UTF8&qid=1531380233&sr=1-1&keywords=Man%27s+Search+for+Meaning">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>Man's Search for Meaning was first published in 1946. Victor Frankl was a holocaust survivor. He chronicled his experiences
      to write this book. He advocated the theory that it is Man's continuous search for Meaning that allows him to survive
      even the most degrading and horrible situations in his life. Frankl's views were dissimilar to those of the leading
      psychologist of his times, Freud and Adler. His research was personal and based on his Holocaust anguishes. He pinpointed
      that people who were optimistic and could focus on love and hope were able to survive than the ones who gave in to
      the woes and harsh sufferings. The book has been listed as one of the 10 most influential books.
    </p>
    <br>
    <h4>
      <b>Byomkesh Samagra</b>
    </h4>
    <br>
    <img src="assets/BlogImages/booksToBuy/byomkesh.JPG" alt="booksToBuy" class="story-image">
    <p>
      <a target="_blank" href="https://www.amazon.in/Byomkesh-Samagra-Sharadindu-Bandyopadhyay/dp/8172153554/ref=sr_1_1?s=books&ie=UTF8&qid=1531380322&sr=1-1&keywords=byomkesh+samagra">
        <b>Buy it on Amazon.in</b>
      </a>
    </p>
    <p>This book is an anthology of Byomkesh's stories. Sharadindu Bandyopadhyay’ s immortal creation – the fictional detective
      Byomkesh Baksi. The intelligent and clever Bakshi with his side kick Ajit, keeps the readers intrigued with his quirks.
      Byomkesh dislikes the word Detective and fashions to be called ‘Satyewenshi’ or the ‘investigator for truth’. Ananda
      Publishers published Byomkesh Samagra in the year 1995 and it is available in hardcover. The book has inspired movies
      and serials over the decades, still continues to enthrall the readers. I have read the stories however this is a book
      I wish to own and add to my collection.
    </p>
  </div>
  <div class="backLink-bottom">
    <span> Back To: &nbsp;
      <a href="/home" style="text-decoration:none">Home</a> /
      <a href="/books" style="text-decoration:none">See more in Books Section</a>
    </span>
  </div>
  <br>
</div>