<div class="row story-background">
  <div class=" col-sm-12 story-title">
    <h5>5 Reasons to go for Book Subscriptions</h5>
  </div>
  <div class="story-body">
    <p>We get to see numerous make up and trinkets subscription boxes – but guess what? WE have similar subscription packages
      for books and every budget. Say HOLA to the new world!</p>
    <br>
    <ul>
      <li>
        <b>Want the latest released books but cannot find online?</b> Subscribe to book boxes. Often publishing houses collaborate
        and release the first copies of the books with the subscription boxes. Imagine the most globally discussed book,delivered
        right to your doorstep!</li>
      <li>
        <b>Book boxes also include book goodies</b> which are meant to tease your grey cells and adorn your bookshelves. Build
        up your reading nook with myriad collection of bookmarks, bookshelf decors, keychains and such bric-a-bracs!</li>
      <li>The subscription houses also host
        <b>massive giveaways</b> on Instagram and Facebook. You can connect with fellow bibliophiles.</li>
      <li>They organize
        <b>Readathons</b> (oh yes, that exists!) where you are given prompts related to reading book. Popular readathons,debates
        and discussions are organized by bookstagrammers.</li>
      <li>Are you a book nerd and a photographer? The subscription sites hold
        <b>photography contest</b> like ‘The unboxing challenges’ to sway the readers. There are daily prompts for which you
        can submit photos with items from the box. Creative ones are shared on their home page</li>
    </ul>
    <p>Quick sneak peek into one of the Frappe Book boxes from
      <a target="_blank" href="https://www.thebigbookbox.com/">The Big Book Box.</a>
    </p>
    <br>
    <img src="assets/BlogImages/book_sub/book_sub_1.JPG" alt="book_sub" class="story-image">
    <p>Looking for more options? Go nowhere but scroll below for more gateways to heaven to be delivered to your doorstep.</p>
    <ul>
      <li>
        <a target="_blank" href="http://booksnbeyond.in/">http://booksnbeyond.in/</a>
      </li>
      <li>
        <a target="_blank" href="https://iamakidd.com/">https://iamakidd.com/</a>
      </li>
      <li>
        <a target="_blank" href="https://booklingscrate.com/">https://booklingscrate.com/</a>
      </li>
      <li>
        <a target="_blank" href="https://tujbookbox.com/">https://tujbookbox.com/</a>
      </li>
    </ul>
    <br>
    <p>Looking forward to hear from you, cheers to Reading!</p>
  </div>
  <div class="backLink-bottom">
    <span> Back To: &nbsp;
      <a href="/home" style="text-decoration:none">Home</a> /
      <a href="/books" style="text-decoration:none">See more in Books Section</a>
    </span>
  </div>
</div>