<div class="banner">
  <span class="profile-image"><img src="assets/images/title.jpg" class="rounded-circle " alt="title" width="180" height="150"></span>
  <span class="profile-text">
    <h3 class="profile-title">Ordo ab Chao</h3> 
    <p class="profile-desc">Ordo ab Chao, as name advocates, fetches order from Chaos. In daily hustle of life, Ordo ab Chao will
        bring you the crispy and crunchy versions of thoughts and stories that goes on our minds. So sit back
        and relax, go through the blog to unclog those tiny musings which have your attention.</p>
  </span>
</div>