<div class="jumbotron">
  <div class="row" >
  <div class="col-sm-3 titletext">
    <div class='row'>
      <div class="col-sm-9 titleImage">
        <img src="assets/images/title.jpg" class="rounded-circle" alt="title" width="180" height="150">
      </div>
      <div class="col-sm-3 socialImage">
        <p><a href='https://www.instagram.com/anmona363' target="_blank"><img src="assets/images/facebook-icon.png" class="rounded-circle" alt="facebook-icon" width="40" height="40"></a></p>
        <p><a href='https://www.instagram.com/anmona363' target="_blank"><img src="assets/images/instagram-icon.jpg" class="rounded-circle" alt="facebook-icon" width="40" height="40"></a></p>
        <p><a href='https://www.instagram.com/anmona363' target="_blank"><img src="assets/images/twitter-icon.png" class="rounded-circle" alt="facebook-icon" width="40" height="40"></a></p>
      </div>  
    </div>
  </div>
  <div class="col-sm-9 titletext">
    <h1>Ordo Ab Chao</h1> 
    <p >Ordo ab chao, as name advocates, fetches order from chaos. In daily hustle of life, ordo ab chao will
        bring you the crispy and crunchy versions of thoughts and stories that goes on our minds. So sit back
        and relax, go through the blog to unclog those tiny musings which have your attention.</p>
  </div> 
  </div>
</div>