<div class="row story-background">
  <div class=" col-sm-12 story-title">
    <h5>Quotes By Rech Bach</h5>
  </div>
  <div class="backLink">
    <span>
      <a href="/home" style="text-decoration:none">Home</a> /
      <a href="/lifestyle" style="text-decoration:none">Lifestyle</a> / Quotes By  Rech Bach</span>
  </div>
  <div class="story-body">
    <br>
    <p>One of my friends once handed me That Kiss in the Rain during my college.I was hooked to the story so much that I finished
      it in a day. Left wanting for more, I read his other book A thing beyond forever
    </p>
    <ul>
      
        <img src="assets/BlogImages/rech_bach/rech_bach_1.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_2.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_3.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_4.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_5.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_6.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_7.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_8.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_9.JPG" alt="rech_bach" class="story-image">
      
      
        <img src="assets/BlogImages/rech_bach/rech_bach_10.JPG" alt="rech_bach" class="story-image">
      
    </ul>
    <br>
    <p>Looking forward to hear from you, cheers to Reading!</p>
  </div>
  <div class="backLink-bottom">
    <span> Back To: &nbsp;
      <a href="/home" style="text-decoration:none">Home</a> /
    </span>
    <span>
      <a href="/lifestyle" style="text-decoration:none">See More From Lifestyle Blogs</a>
    </span>
  </div>
</div>