/* You can add global styles to this file, and also import other style files */
.mainContent {
    background-image: url("/assets/images/mainContent_bg.jpg");
    background-size: cover;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    min-height: 500px;
    height: auto;
    padding-bottom: 5%
  }
  .form-control {
    margin-top: 2%;
    max-height: 62%;
    padding-left: 4%;
  }
 .smallheaderrow {
  background: yellowgreen;
  margin-bottom: 3%;
  width:104%;
 }   
  .smallHeader{
    padding-left: 0%;
    padding-right: 0%;
    min-height: 30%;
    margin-top: 4%;
  }
  .subjectDiv{
    padding-left: 5%;
    margin-top: 2%;
    padding-bottom: 2%;
  }
  .itemDiv{
    max-width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }
  .viewAll {
    padding-top: 2%;
    padding-left: 15%;
    margin-top: 2%;
    padding-bottom: 2%;
    
  }
  .image {
    width: 100%;
    height: auto; 
    padding: 5% 5% 5% 5%;
    max-height: 330px;
  }
  .bottomtext {
    background-color: aliceblue;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: -5%;
    padding: 5%;
  }
