/* You can add global styles to this file, and also import other style files */

.main-body {
  background-image: url("/assets/images/body_bg.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}
.page-content {
  width: 100%;
  height: auto;
  margin-top: 250px;
  position: absolute;
}
.topic-heading {
  width: 100%;
  background-color: #3a777c;
  height: 50px;
  padding: 10px 15px;
}
.topic-name {
  font-size: 20px;
  color: white;
}
.view-all {
  max-width: 50%;
  margin-top: 5px;
  margin-left: 750px;
  color: white;
  position: absolute;
}
.image-row {
  width: 100%;
  padding: 2% 3%;
  
}
.bottomtext {
  background-color: aliceblue;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 23px;
  padding : 2px 2px 30px 2px;
  cursor: pointer;
}
.content-row {
  padding: 10px;
 }
.imageList{
  width: 100%;
  height: 100px;
  padding: 0%;
  max-height: 330px;
  cursor: pointer;
}
.form-control {
  margin-top: 2%;
  max-height: 62%;
  padding-left: 4%;
  }
/* For mobile portrait mode*/
@media screen and (min-width:300px) and (max-width:599px){
  .page-content {
    margin-top: 480px;
    position: absolute;
  }
  .view-all {
    margin-top: 5px;
    margin-left: 90px;
  }
  .image-row {
    padding: 2% 5%;
    margin-left: 0px;
  }
  .imageList{
    width: 100%;
    height: auto;
    padding: 0%;
    max-height: 330px;
    cursor: pointer;
  }
  }
/* For mobile Landscape mode*/
@media screen and (min-width:600px) and (max-width:850px){
  .page-content {
    margin-top: 300px;
    position: absolute;
  }
  .view-all {
    margin-top: 5px;
    margin-left: 400px;
  }
  .image-row {
    padding: 2% 5%;
  }
  .imageList{
    width: 100%;
    height: 100px;
    padding: 0%;
    max-height: 330px;
    cursor: pointer;
  }
}

