/* You can add global styles to this file, and also import other style files */
.main-body {
  background-image: url(/assets/images/body_bg.jpg);
  background-size: cover;
  width: 65%;
  height: 100%;
  margin-left: 15%;
  position: relative;
}
.page-content {
  width: 100%;
  height: auto;
  position: relative;
  border-left: solid;
  border-right: solid;
  border-color: #3a767c;
}
.topic-heading {
  width: 100%;
  background-color: #3a777c;
  height: 50px;
  padding: 10px 15px;
}
.hometopic-heading {
  width: 100%;
  background-color: #3a777c;
  height: 75px;
  padding: 10px 15px;
}
.topic-name {
  font-size: 20px;
  color: white;
}

.image-row {
  width: 100%;
  padding: 2% 3%;
  
}
.bottomtext {
  background-color: aliceblue;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 23px;
  padding : 2px 2px 30px 2px;
  cursor: pointer;
  border-bottom-left-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}
.content-row {
  padding: 10px;
 }
.imageList{
  width: 100%;
  height: 100px;
  padding: 0%;
  max-height: 330px;
  cursor: pointer;
  border-top-left-radius: 25px 25px;
  border-top-right-radius: 25px 25px;
}
.form-control {
  margin-top: 2%;
  max-height: 62%;
  padding-left: 4%;
  }

a {
  text-decoration: underline;
  cursor: pointer;
  color: black;
  text-underline-position: under;
}
a:hover { 
  color: white;
}
.effect {
  box-shadow: 0 4px 8px 0, 0 6px 20px 0
}
/* For mobile portrait mode*/
@media screen and (min-width:300px) and (max-width:374px){
  .main-body {
    width: 100%;
    margin-left: 0%;
  }
  .hometopic-heading {
    height: 75px;
    padding: 10px 15px;
  }
  .image-row {
    padding: 2% 5%;
    margin-left: 0px;
  }
  .imageList{
    width: 100%;
    height: auto;
    padding: 0%;
    max-height: 330px;
    cursor: pointer;
  }
  }
/* For mobile portrait mode*/
@media screen and (min-width:375px) and (max-width:599px){
  .hometopic-heading {
    height: 75px;
    padding: 10px 15px;
  }
  .image-row {
    padding: 2% 5%;
    margin-left: 0px;
  }
  .imageList{
    width: 100%;
    height: auto;
    padding: 0%;
    max-height: 330px;
    cursor: pointer;
  }
  .main-body {
    width: 100%;
    margin-left: 0%;
  }
  }
/* For mobile Landscape mode*/
@media screen and (min-width:600px) and (max-width:850px){
  .hometopic-heading {
    height: 75px;
    padding: 10px 15px;
  }
  .image-row {
    padding: 2% 5%;
  }
  .imageList{
    width: 100%;
    height: 100px;
    padding: 0%;
    max-height: 330px;
    cursor: pointer;
  }
  .main-body {
    width: 100%;
    margin-left: 0%;
  }
}



