    <div class="page-content" *ngIf="!storyPage">
        <div class="topic-heading">
            <a href="/popular"><span class="topic-name">Trending Now</span></a>
        </div>    
        <div class="row image-row">
            <div class="col-sm-3 content-row" *ngFor="let item of trendingList| slice:0:4; let i=index">
                <a (click)="populateStoryDetails(item.name,item.title)"><img src="assets/BlogImages/trending/{{item.image}}.JPG" alt="image" class="imageList">
                <div class="bottomtext">{{item.title}}</div></a>
            </div>
        </div>
        <div class="topic-heading">
            <a href="/recent"><span class="topic-name">Recently Added</span></a>
        </div>    
        <div class="row image-row">
            <div class="col-sm-3 content-row" *ngFor="let item of recentList| slice:0:4; let i=index">
                <a (click)="populateStoryDetails(item.name,item.title)"><img src="assets/BlogImages/recent/{{item.image}}.JPG" alt="image" class="imageList">
                <div class="bottomtext">{{item.title}}</div></a>
            </div>
        </div>
        <div class="topic-heading">
            <a href="/authors"><span class="topic-name">Author's Favorite</span></a>
        </div>    
        <div class="row image-row">
            <div class="col-sm-3 content-row" *ngFor="let item of authorsList| slice:0:4; let i=index">
                <a (click)="populateStoryDetails(item.name,item.title)"><img src="assets/BlogImages/authors/{{item.image}}.JPG" alt="image" class="imageList">
                <div class="bottomtext">{{item.title}}</div></a>
            </div>
        </div>  
    </div>    
<div *ngIf="storyPage">
    <app-storypage [storyPageInput] = "storyPageInput"></app-storypage>
</div>
