<div class="row story-background">
  <div class=" col-sm-12 story-title">
    <h5>Quotes By Paulo Coelho</h5>
  </div>
  <div class="backLink">
    <span>
      <a href="/home" style="text-decoration:none">Home</a> /
      <a href="/lifestyle" style="text-decoration:none">Lifestyle</a> / Quotes By Paulo Coelho</span>
  </div>
  <div class="story-body">
    <br>
    <ul>

      <img src="assets/BlogImages/pc/pc_1.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_2.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_3.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_4.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_5.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_6.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_7.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_8.JPG" alt="c" class="story-image">


      <img src="assets/BlogImages/pc/pc_9.JPG" alt="pc" class="story-image">


      <img src="assets/BlogImages/pc/pc_10.JPG" alt="pc" class="story-image">

    </ul>
    <br>
    <p>Looking forward to hear from you, cheers to Reading!</p>
  </div>
  <div class="backLink-bottom">
    <span> Back To: &nbsp;
      <a href="/home" style="text-decoration:none">Home</a> /
    </span>
    <span>
      <a href="/lifestyle" style="text-decoration:none">See More From Lifestyle Blogs</a>
    </span>
  </div>
</div>