<h3><b>Disclaimer</b></h3>
<p>
  This blog is published by and reflects our (Authors and Administrators of Ordo Ab Chao) personal views, 
  in our individual capacity. The content provided is exactly personal. In addition, our thoughts and 
  opinions may change from time to time. This is a necessary consequence of our open- mindedness. 
  All information  here is provided on an AS IS basis without any liability whatsoever. It is not 
  guaranteed that the information is 100% accurate though every effort is made to make it as accurate 
  as possible. By reading and/or using any information given on Ordo Ab Chao (in the past, present and 
  future), you agree that you are on your own and bear full responsibility of the risk or any harm that 
  may occur to you or others (because of you) in any way whatsoever. You also agree that we 
  (Authors and Administrators of Ordo Ab Chao) will not be liable for any damages that you or others
   (because of you) may incur.
</p>
<h3><b>Posting Comments</b></h3>
<p>Please note that by posting any comments on this blog, you agree that you are fully aware of what you 
  are posting as your comment and agree that you are not posting any copyrighted material which you are 
  not allowed (legally) to post & take full responsibility for the contents of your comment and no one but
  you will be held liable in case of any enquiries or prosecution by any government authorities. You also
   agree that this blog is not to be used as a marketing gimmick or for any SEO purposes & we 
   (Authors and Administrators of Ordo Ab Chao) or anyone else managing this blog can delete any part
    of your comment (like URLs) as deemed inappropriate, at our/their sole discretion. Your IP Address
     is recorded every time when you post a comment for safeguarding our & other people’s interests.
</p>
<p>NOTE: This Disclaimer is subject to change anytime at our sole discretion & any changes made will 
  be effective immediately.</p>
